
/* Tipografias */

	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
	@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset */

	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	    padding-right: 0px;
	    padding-left: 0px;
	}

	.row{
	    margin-right: 0px; 
 		margin-left: 0px;
	}

/* FontStyle de Body */

	body { 
		font-family: 'Noto Sans', sans-serif;
	}

/* Cabecera */

	.header {
		padding: 60px;
		text-align: center;
		background-color: #7f5a83;
		background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: white;
	}

	.vertical{
		padding: 10vh 0vh 0vh 0vh;
	}

/* Social Botones */

	.buttonSocial	{
		background: transparent;
		border: none;
		font-size: 20px;
	}

/* planBox */

	.planBoxB{
		font-family: 'Noto Sans', sans-serif;
		font-size: 55px;
		color: #FFF;
		text-align: center;
		padding: 15px 15px 15px 15px;
		background-color: #bdd4e7;
		background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

	}

	.planBoxP{
		font-family: 'Noto Sans', sans-serif;
		font-size: 55px;
		color: #FFF;
		text-align: center;
		padding: 15px 15px 15px 15px;
		background-color: #9fa4c4;
		background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
	}


/* Video */ 

	video{ width:100%; max-width:1024px; }
	video{ width:100%; }